<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Engine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Python.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Qt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Utils - CensusLookup.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Utils - RegConcat.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Utils - RegConvert.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Utils - RegFileDump.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Utils - RegFileType.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Utils - SigCensus.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Utils - TriCensus.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Utils - TriSetCmp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>iOS debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>iOS release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>050F5CDC1B9BAAAA00C1F681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>052FA0C01806072900FAE4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>052FA1271806102F00FAE4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>052FA1491806103000FAE4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05617ADC1D9DBFBE00B1E33B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05617B001D9DC51600B1E33B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05617B0B1D9DC52200B1E33B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05617B161D9DC52B00B1E33B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05617B211D9DC53400B1E33B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05617B2C1D9DC54500B1E33B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05617B371D9DC55000B1E33B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05617B421D9DC55B00B1E33B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0564A1DE1811D6F8002CC2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0564A2001811D6F9002CC2AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0575E6581805F36D009E3FC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05B14EA219B423A0002138C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
