#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
export DH_COMPAT=4

tmp = debian/tmp

python_script = /usr/bin/regina-python
python_script_src = python/regina-python
python_lib = /usr/lib/regina-normal/python/regina.so

INSTALL_DIR = install -p -d -o root -g root -m 755
INSTALL_FILE = install -p -o root -g root -m 644

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

ifeq ($(shell dpkg-architecture -qDEB_BUILD_ARCH),ia64)
	# MPI utilities fail to link under ia64.
	NO_MPI = 1
	configmpi = --disable-mpi
else
	NO_MPI = 0
	configmpi =
endif

-include debian/debiandirs

debian/debiandirs: admin/debianrules
	perl -w admin/debianrules echodirs > debian/debiandirs

configure: configure-stamp
configure-stamp:
	dh_testdir

	# Update to debian's patched libtool.
	cp debian/libtool/* admin
	admin/ac_gen
	aclocal
	autoheader
	autoconf
	automake
	perl -w admin/am_edit

	# Back to the standard configure.
	chmod a+x configure
	./configure --disable-maintainer-mode PKGNAME=regina-normal \
	  --includedir=/usr/include $(configkde) $(configmpi) \
	  --includedir=/usr/include
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	$(MAKE) check
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	-$(MAKE) distclean
	rm -f build-stamp configure-stamp
	rm -f debian/debiandirs
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Main install.
	$(MAKE) install DESTDIR=`pwd`/$(tmp)

	# Make sure python versions are consistent between the binaries and
	# the startup script.
	pyver_script=`grep 'python[0-9]\.[0-9]' $(tmp)$(python_script) | sed -e 's/^.*python\([0-9]\.[0-9]\).*$/\1/'`
	pyver_lib=`ldd $(tmp)$(python_lib) | grep 'libpython[0-9]\.[0-9]\.so' | sed -e 's/^.*libpython\([0-9]\.[0-9]\).so.*$/\1/'`
	if ! test -n "$$pyver_script"; then \
	  echo "ERROR: Could not determine python version used in $(python_script)."; \
	  /bin/false; \
	fi
	if ! test -n "$$pyver_lib"; then \
	  echo "ERROR: Could not determine python version used in $(python_lib)."; \
	  /bin/false; \
	fi
	if ! test "$$pyver_script" = "$$pyver_lib"; then \
	  echo "ERROR: Mismatched python versions between binaries and startup script."; \
	  echo \
	  echo "       $(python_script) uses python$$pyver_script." \
	  echo "       $(python_lib) uses python$$pyver_lib." \
	  echo \
	  echo "       This should be fixed by changing the python version " \
	  echo "           number in $(python_script_src) and $(python_script_src).in" \
	  echo "           (see the section where \$$which_python is initialised)." \
	  /bin/false; \
	fi

ifneq ($(NO_MPI),1)
	# Make sure MPI support was enabled.
	if ! test -e $(tmp)/usr/bin/tricensus-mpi; then \
	  echo "ERROR: MPI utilities were not built and installed."; \
	  echo "       Check your configure options."; \
	  /bin/false; \
	fi
else
	# Remove unnecessary MPI files.
	rm -f debian/regina-normal/usr/share/doc/README.MPI
endif

	# Split into separate binary packages.
	dh_install --sourcedir=debian/tmp --list-missing

	# Ensure sample data files are stored as compressed XML.
	for i in debian/regina-normal/usr/share/doc/regina-normal/examples/*.rga; do \
	  utils/regconvert -x $$i $$i; \
	done

	# Install linda and lintian overrides.
	for pkg in `dh_listpackages`; do \
	  if test -e debian/$$pkg.override; then \
	    $(INSTALL_DIR) debian/$$pkg/usr/share/lintian/overrides; \
	    $(INSTALL_FILE) debian/$$pkg.override \
	      debian/$$pkg/usr/share/lintian/overrides/$$pkg; \
	  fi; \
	  if test -e debian/$$pkg.linda; then \
	    $(INSTALL_DIR) debian/$$pkg/usr/share/linda/overrides; \
	    $(INSTALL_FILE) debian/$$pkg.linda \
	      debian/$$pkg/usr/share/linda/overrides/$$pkg; \
	  fi; \
	done

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs -i
	dh_installexamples -i
	dh_installman -i
	dh_installmenu -i
	dh_installmime -i
	dh_installchangelogs -i CHANGES.txt
	dh_link -i
	dh_strip -i
	dh_compress -i -X.bz2 -X.css -X.docbook -X.rga
	dh_fixperms -i
	# dh_makeshlibs -i
	dh_installdeb -i
	dh_perl -i
	dh_shlibdeps -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs -a
	dh_installexamples -a
	dh_installman -a
	dh_installmenu -a
	dh_installmime -a
	dh_installchangelogs -a CHANGES.txt
	dh_link -a
	dh_strip -a
	dh_compress -a -X.bz2 -X.css -X.docbook -X.rga
	for i in `find debian/regina-normal/usr/share/doc/kde -name "*.gz"`; do \
	  gunzip $$i; done
	dh_fixperms -a
	dh_makeshlibs -a
	dh_installdeb -a
	dh_perl -a
	dh_shlibdeps -a -ldebian/regina-normal/usr/lib
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
