<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="reginamain" version="3.1">
<MenuBar>
  <Menu name="file">
    <DefineGroup name="new_merge"/>
    <DefineGroup name="open_merge"/>
    <DefineGroup name="save_merge"/>
    <DefineGroup name="revert_merge"/>
    <Separator/>
    <DefineGroup name="print_merge"/>
    <Merge/>
    <DefineGroup name="close_merge"/>
  </Menu>
  <Menu name="edit"><text>&amp;Edit</text>
    <DefineGroup name="edit_undo_merge"/>
    <Separator/>
    <DefineGroup name="edit_paste_merge"/>
    <Separator/>
    <DefineGroup name="edit_select_merge"/>
    <Separator/>
    <DefineGroup name="edit_find_merge"/>
    <Merge/>
  </Menu>
  <Merge/>
  <Menu name="tools">
    <Merge/>
    <Separator/>
    <Action name="python_console" />
  </Menu>
  <Menu name="settings"/>
  <Menu name="help"/>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1">
  <text>Main Toolbar</text>
  <Action name="file_new"/>
  <Action name="file_open"/>
  <Merge/>
  <Separator/>
  <Action name="python_console"/>
</ToolBar>
</kpartgui>
