[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=regina
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libreginapart
Name=Regina Topology Data Editor
