[Desktop Entry]
Version=1.0
Type=Application
Name=Regina
GenericName=3-Manifold Topology
Comment=Software for low-dimensional topology
Icon=regina
Exec=regina-gui %F
Categories=Math;Education;Science;Qt;
MimeType=application/x-regina;
