body {
  background-color: #FFFFFF;
}

p {
  text-indent: 0px;
  color: #000000;
}

p.return {
  margin: 2em 0px 0px 0px;
  padding: 5px 0px 5px 0px;
  border-width: 4px 0px 4px 0px;
  border-color: #B5BCF8;
  border-style: solid;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  color: #3D3F53;
  text-align: center;
  background-color: #FFFFFF;
  margin: 2em 0px 1em 0px;
  padding: 5px 0px 5px 0px;
  border-width: 4px 0px 4px 0px;
  border-color: #B5BCF8;
  border-style: solid;
}

h2 {
  font-size: large;
  font-weight: bold;
  color: #3D3F53;
  background-color: #B5BCF8;
  padding: 5px;
  margin: 2em 0px 1em 0px;
}

h3 {
  font-size: larger;
  font-weight: bold;
  color: #3D3F53;
}

h4 {
  font-size: medium;
  font-weight: bold;
  color: #3D3F53;
  border-width: 0px 0px 0px 0px;
  border-color: #B5BCF8;
  border-style: solid;
}

table.contentswrapper {
  border: 0;
  background-color: #FFFFFF;
}

table.contentswrapper th {
  font-weight: bold;
  color: #3D3F53;
  background-color: #B5BCF8;
  padding: 2px 1ex 2px 1ex;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  border-style: solid;
}

table.contentswrapper td {
  background-color: #E0E2F8;
  padding: 5px 1ex 5px 1ex;
  border-width: 1px 1px 1px 1px;
  border-color: #FFFFFF;
  border-style: solid;
}

table.contents td {
  padding: 1px 1px 1px 1px;
  border-width: 0px 0px 0px 0px;
}

table.data td, table.data th {
  border-color: #B5BCF8;
  border-style: solid
}

table.data th {
  font-weight: bold;
  color: #3D3F53;
  background-color: #E0E2F8;
  padding: 2px 1ex 2px 1ex;
  border-width: 2px 2px 2px 0px;
}

table.data th.first {
  border-width: 2px 2px 2px 2px;
}

table.data td {
  background-color: #F2F4F8;
  padding: 2px 2px 2px 2px;
  border-width: 0px 2px 2px 0px;
}

table.data td.na {
  background-color: #B5BCF8;
}

table.data td.first, table.data td.altfirst, table.data td.reqfirst, table.data td.recfirst, table.data td.optfirst {
  border-width: 0px 2px 2px 2px;
}

table.data td.alt, table.data td.altfirst {
  background-color: #E9EAF8;
}

table.data td.req, table.data td.reqfirst {
  background-color: #D4FFD1;
}

table.data td.rec, table.data td.recfirst {
  background-color: #80FF80;
}

table.data td.opt, table.data td.optfirst {
  background-color: #F0D7FF;
}

div.example p, div.announce p, div.warning p {
  padding: 1ex 1ex 1ex 1ex;
}

div.example p {
  background-color: #C1FFB5;
  border-width: 1px;
  border-color: #8EBA8B;
  border-style: solid;
  margin-left: 5ex;
}

div.announce p {
  background-color: #E0E2F8;
  border-width: 2px;
  border-color: #B5BCF8;
  border-style: solid;
}

div.announce b {
  color: #3D3F53;
}

div.warning p {
  background-color: #FFEBEB;
  border-width: 1px;
  border-color: #C98686;
  border-style: solid;
  margin-left: 5ex;
  margin-right: 5ex;
}

div.warning b {
  color: #502525;
}

span.question {
  font-size: medium;
  font-weight: bold;
  color: #3D3F53;
  border-width: 0px 0px 2px 0px;
  border-color: #B5BCF8;
  border-style: solid;
}

body.deprecation b {
  color: #3D3F53;
}
