body {
  background-color: #FFFFFF;
}

p {
  text-indent: 0px;
  color: #000000;
}

p.return {
  margin: 2em 0px 0px 0px;
  padding: 5px 0px 5px 0px;
  border-top: 4px;
  border-bottom: 4px;
  border-left: 0px;
  border-right: 0px;
  border-color: #B5BCF8;
  border-style: solid;
}

h1 {
  font-size: x-large;
  font-weight: bold;
  color: #3D3F53;
  text-align: center;
  background-color: #FFFFFF;
  margin: 2em 0px 1em 0px;
  padding: 5px 0px 5px 0px;
  border-top: 4px;
  border-bottom: 4px;
  border-left: 0px;
  border-right: 0px;
  border-color: #B5BCF8;
  border-style: solid;
}

h2 {
  font-size: large;
  font-weight: bold;
  color: #3D3F53;
  background-color: #B5BCF8;
  padding: 5px;
  margin: 2em 0px 1em 0px;
}

h3 {
  font-size: larger;
  font-weight: bold;
  color: #3D3F53;
}

h4 {
  font-size: medium;
  font-weight: bold;
  color: #3D3F53;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #B5BCF8;
  border-style: solid;
}

table.contentswrapper {
  border: 0;
  background-color: #FFFFFF;
}

table.contentswrapper th {
  font-weight: bold;
  color: #3D3F53;
  background-color: #B5BCF8;
  padding: 2px 1ex 2px 1ex;
  border-top: 0px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-color: #FFFFFF;
  border-style: solid;
}

table.contentswrapper td {
  background-color: #E0E2F8;
  padding: 5px 1ex 5px 1ex;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-color: #FFFFFF;
  border-style: solid;
}

table.contents td {
  padding: 1px 1px 1px 1px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

table.data th {
  font-weight: bold;
  color: #3D3F53;
  background-color: #E0E2F8;
  padding: 2px 1ex 2px 1ex;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid;
}

table.data th.first {
  font-weight: bold;
  color: #3D3F53;
  background-color: #E0E2F8;
  padding: 2px 1ex 2px 1ex;
  border-top: 2px;
  border-bottom: 2px;
  border-left: 2px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid;
}

table.data td {
  background-color: #F2F4F8;
  padding: 2px 2px 2px 2px;
  border-top: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid
}

table.data td.first {
  background-color: #F2F4F8;
  padding: 2px 2px 2px 2px;
  border-top: 0px;
  border-bottom: 2px;
  border-left: 2px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid
}

table.data td.req {
  background-color: #D4FFD1;
  padding: 2px 2px 2px 2px;
  border-top: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid
}

table.data td.reqfirst {
  background-color: #D4FFD1;
  padding: 2px 2px 2px 2px;
  border-top: 0px;
  border-bottom: 2px;
  border-left: 2px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid
}

table.data td.rec {
  background-color: #80FF80;
  padding: 2px 2px 2px 2px;
  border-top: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid
}

table.data td.recfirst {
  background-color: #80FF80;
  padding: 2px 2px 2px 2px;
  border-top: 0px;
  border-bottom: 2px;
  border-left: 2px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid
}

table.data td.opt {
  background-color: #F0D7FF;
  padding: 2px 2px 2px 2px;
  border-top: 0px;
  border-bottom: 2px;
  border-left: 0px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid
}

table.data td.optfirst {
  background-color: #F0D7FF;
  padding: 2px 2px 2px 2px;
  border-top: 0px;
  border-bottom: 2px;
  border-left: 2px;
  border-right: 2px;
  border-color: #B5BCF8;
  border-style: solid
}

