Source: regina-normal
Section: contrib/math
Priority: extra
Maintainer: Ben Burton <benb@acm.org>
Build-Depends: debhelper (>> 3.0.0), docbook-utils, doxygen, graphviz, j2sdk1.3, jade, jython, libbtools-java (>= 1.1-0), libgmp3-dev
Standards-Version: 3.5.6

Package: regina-normal
Architecture: any
Section: contrib/math
Depends: java-virtual-machine, java2-runtime | j2re1.3, libbtools-java (>= 1.1-0), ${shlibs:Depends}
Recommends: jython
Suggests: regina-normal-dev, regina-normal-doc, snappea
Description: Regina, the 3-manifold normal surface theory calculator
 Regina is a topological calculator with a bent towards normal surface
 theory. It allows 3-manifolds to be created, manipulated and their
 properties of interest determined. 
 .
 Highlights of Regina include triangulation analysis and simplification,
 census creation and normal surface calculation.  It offers embedded
 Jython scripting giving full access to the calculation engine.

Package: regina-normal-dev
Architecture: any
Section: contrib/devel
Depends: libgmp3-dev, libstdc++2.10-dev
Suggests: regina-normal, regina-normal-doc
Description: Development files for Regina normal surface theory calculator
 Regina is a normal surface theory calculator for 3-manifold
 topologists.  This package provides a static library and headers suitable
 for compiling the Regina calculation engine into other projects.
 .
 Highlights of Regina include triangulation analysis and simplification,
 census creation and normal surface calculation.

Package: regina-normal-doc
Architecture: all
Section: contrib/doc
Recommends: www-browser
Suggests: regina-normal
Description: Regina reference manual for normal surface theory calculator
 Regina is a normal surface theory calculator for 3-manifold
 topologists.  This package provides the HTML reference manual including
 complete API documentation for the calculation engine.  Sample data
 files and Jython sessions are also included.
 .
 Highlights of Regina include triangulation analysis and simplification,
 census creation and normal surface calculation.  It offers embedded
 Jython scripting giving full access to the calculation engine.
