<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="packetwindow" version="3.97">
<MenuBar>
  <Menu name="file" noMerge="1"><text>&amp;Viewer</text>
    <Action name="viewer_dock"/>
    <Action name="viewer_close"/>
  </Menu>
  <Menu name="packet" noMerge="1"><text>&amp;Packet</text>
    <ActionList name="packet_type_actions"/>
    <ActionList name="packet_type_separator"/>
    <ActionList name="packet_tracking_actions"/>
  </Menu>
</MenuBar>
</kpartgui>
