<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="reginapart" version="4.0">
<MenuBar>
  <Menu name="file" noMerge="1"><text>&amp;File</text>
    <Action name="file_save" group="save_merge"/>
    <Action name="file_save_as" group="save_merge"/>
    <Menu name="file_import" group="print_merge"><text>&amp;Import</text>
      <Action name="import_regina"/>
      <Action name="import_snappea"/>
      <Action name="import_dehydrated"/>
      <Action name="import_python"/>
    </Menu>
    <Menu name="file_export" group="print_merge"><text>&amp;Export</text>
      <Action name="export_regina"/>
      <Action name="export_snappea"/>
      <Action name="export_python"/>
    </Menu>
  </Menu>
  <Menu name="tree" noMerge="1"><text>&amp;Packet Tree</text>
    <Action name="tree_angles"/>
    <Action name="tree_container"/>
    <Action name="tree_filter"/>
    <Action name="tree_surfaces"/>
    <Action name="tree_script"/>
    <Action name="tree_text"/>
    <Action name="tree_triangulation"/>
    <Separator/>
    <Action name="tree_view"/>
    <Action name="tree_rename"/>
    <Action name="tree_delete"/>
    <Separator/>
    <Action name="tree_clone"/>
    <Action name="tree_clone_subtree"/>
    <Separator/>
    <Action name="tree_refresh"/>
  </Menu>
  <Menu name="current" noMerge="1"><text>&amp;Docked Packet</text>
    <ActionList name="packet_tracking_actions"/>
    <Separator/>
    <Action name="docked_undock"/>
    <Action name="docked_close"/>
  </Menu>
  <Menu name="tools" noMerge="1"><text>T&amp;ools</text>
    <Action name="packet_census"/>
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar" noMerge="1">
  <text>Main Toolbar</text>
  <Action name="file_save" group="file_operations"/>
  <Action name="file_close" group="file_operations"/>
</ToolBar>
<ToolBar name="packetTree" noMerge="1">
  <text>Packet Tree Toolbar</text>
  <Action name="tree_view"/>
  <Action name="tree_rename"/>
  <Action name="tree_delete"/>
  <Separator/>
  <Action name="tree_refresh"/>
  <Separator/>
  <Action name="nav_shallow"/>
  <Action name="nav_deep"/>
  <Action name="nav_up"/>
  <Action name="nav_pageup"/>
  <Action name="nav_top"/>
  <Action name="nav_down"/>
  <Action name="nav_pagedown"/>
  <Action name="nav_bottom"/>
</ToolBar>
<ToolBar name="packetNew" noMerge="1">
  <text>New Packet Toolbar</text>
  <Action name="tree_angles"/>
  <Action name="tree_container"/>
  <Action name="tree_filter"/>
  <Action name="tree_surfaces"/>
  <Action name="tree_script"/>
  <Action name="tree_text"/>
  <Action name="tree_triangulation"/>
</ToolBar>
</kpartgui>
