<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="reginamain" version="3.97">
<MenuBar>
  <Menu name="file" noMerge="1"><text>&amp;File</text>
    <Action name="new_topology"/>
    <Action name="new_python"/>
    <DefineGroup name="new_merge"/>
    <Action name="file_open"/>
    <Action name="file_open_recent"/>
    <DefineGroup name="open_merge"/>
    <Separator/>
    <DefineGroup name="save_merge"/>
    <DefineGroup name="revert_merge"/>
    <Separator/>
    <DefineGroup name="print_merge"/>
    <Merge/>
    <Separator/>
    <Action name="file_close"/>
    <DefineGroup name="close_merge"/>
    <Separator/>
    <Action name="file_quit"/>
  </Menu>
  <Merge/>
  <Menu name="tools">
    <Merge/>
    <Separator/>
    <Action name="python_console" />
  </Menu>
  <Menu name="settings"/>
  <Menu name="help"/>
</MenuBar>

<ToolBar name="mainToolBar" noMerge="1">
  <text>Main Toolbar</text>
  <Action name="new_topology"/>
  <Action name="file_open"/>
  <Merge/>
  <Separator/>
  <Action name="python_console"/>
</ToolBar>
</kpartgui>
