<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>regina-doc-320</string>
				<string>regina-doc-64</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Regina Data File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.computop.regina-data</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).regina-document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>snappea-doc-320</string>
				<string>snappea-doc-64</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SnapPea Triangulation</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.computop.snappea-triangulation</string>
			</array>
			<key>NSUbiquitousDocumentUserActivityType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).snappea-triangulation</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Regina Data File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>regina-doc-320</string>
				<string>regina-doc-64</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.computop.regina-data</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>rga</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-regina</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SnapPea Triangulation</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>snappea-doc-320</string>
				<string>snappea-doc-64</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>org.computop.snappea-triangulation</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tri</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-snappea</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
